{% extends "produtos/template.html" %}
{% load static %}
{% block conteudo %}
<div class="titlo_tabela">
    <h1 class="texto_tabela">Produtos Cadastrados</h1>
</div>

{% include 'menu_site.html' %}
<div class="empresas">
    {% if alterar %}
        <p class="mensangem" >Produto criado com sucesso</p>
    {% else %}
    {% endif %}
    <table class="tabela_empresas">
        <tr>
            <td class="linha_tabela_usuarios_cabecario">ID</td>
            <td class="linha_tabela_usuarios_cabecario">Nome Usuário</td>
            <td class="linha_tabela_usuarios_cabecario">Login</td>
            <td class="linha_tabela_usuarios_cabecario">Nível de Acesso</td>
            <td class="linha_tabela_usuarios_cabecario">Função</td>
        </tr>
        <tr>
        {%if produtos %}
            {% for produto in produtos %}
            <td class="linha_tabela_usuarios">{{ produto.id }}</td>
            <td class="linha_tabela_usuarios">{{ produto.nome }}</td>
            <td class="linha_tabela_usuarios">{{ produto.login }}</td>
            <td class="linha_tabela_usuarios">{{ produto.nivel_acesso }}</td>
            <td class="linha_tabela_usuarios">{{ produto.funcao.capitalize() }}</td>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
    </table>
</div>
{% endblock %}