{% extends "produtos/template.html" %}
{% load static %}
{% block conteudo %}
<div class="titlo_tabela">
    <h1 class="texto_tabela">Produtos Cadastrados</h1>
</div>

{% include 'produtos/menu_site.html' %}
<div class="empresas">
    {% if alterar %}
        <p class="mensangem" >Produto criado com sucesso</p>
    {% else %}
    {% endif %}
    <table class="tabela_dados">
        <tr>
            <td class="linha_tabela_busca_cabecario_produto">Nome Produto</td>
            <td class="linha_tabela_busca_cabecario_produto">Categoria</td>
            <td class="linha_tabela_busca_cabecario_produto">Descricao</td>
        </tr>
        <tr>
        {%if produtos %}
            {% for produto in produtos %}
            <td class="linha_tabela_busca_produto">{{ produto.nome }}</td>
            <td class="linha_tabela_busca_produto">{{ produto.categoria }}</td>
            <td class="linha_tabela_busca_produto">{{ produto.descricao }}</td>
        </tr>
            {% endfor %}
        {% else %}
        {% endif %}
    </table>
</div>
{% endblock %}