{% extends "produtos/template.html" %}
{% load static %}
{% block conteudo %}
<div class="titlo_tabela">
    <h1 class="texto_tabela">Fornecedores Cadastradas</h1>
</div>

{% include 'produtos/menu_site.html' %}
<div class="empresas">
    {% if alterar %}
        <p class="mensangem" >Fornecedor criado com sucesso</p>
    {% else %}
    {% endif %}
    <table class="tabela_dados">
        <tr>
            <td class="linha_tabela_busca_cabecario">Categorias</td>
        </tr>
        <tr>
            {%if categorias %}
                {% for categoria in categorias %}
            <td class="linha_tabela_busca">{{ categoria.nome_categoria }}</td>
        </tr>
            {% endfor %}
        {% else %}
        {% endif %}
    </table>
</div>
{% endblock %}