{% extends "produtos/template.html" %}
{% load static %}
{% block conteudo %}

<div class="titlo_tabela">
    <h1 class="texto_tabela">Criação de Fornecedor</h1>
</div>

{% include 'produtos/menu_site.html' %}
<div class="cricao_usuario_titulo">
    {%if mensagem %}
    <p>{{ mensagem }}</p>
    {% endif %}
    <form method="POST" action="{% url 'criar_categoria' %}">
        {% csrf_token %}
        <table class="tabela_dados">
            <tr>
                <td class="campo_tabela">Inserir Nova Categoria:</td>
            </tr>
            <tr>
                <td class="campo_tabela_2">
                    <input class="form-control" type="text" name="categoria" placeholder="Nova Categoria" minlength="5" maxlength="18">
            </tr>
        </table>
        <p class="enviar"><button class="botao_4" type="submit">Enviar</button></p>
    </form>
</div>
{% endblock %}
