{% extends "produtos/template.html" %}
{% load static %}
{% block conteudo %}

<div class="titlo_tabela">
    <h1 class="texto_tabela">Alterar Usuários</h1>
</div>

{% include 'menu_site.html' %}
<div class="cricao_usuario_titulo">
    {% if alterar %}
        <p class="mensangem" >Produto deletado.</p>
    {% else %}
    {% endif %}
    <form method="POST" action="/usuario-alterado-sucesso">
        <table class="tabela_empresas">
            <tr>
                <td class="campo_usuario">Nome do Produto:</td>
            </tr>
            <tr>
                <td class="campo_usuario_2">
                    <input class="form-control" type="text" name="nome_produto" required>
            </tr>
        </table>
        <p class="enviar"><button class="botao_4" type="submit">Enviar</button></p>
    </form>
</div>
{% endblock %}
