
<div class="rolagem_menu">
    <h1 class="titulo_menu">Menu</h1>
    <h2 class="titulo_menu_2">Produtos</h2>
        <a href="{% url 'criar_produto' %}">
            <p class="itens_menu" >Adicionar</p>
        </a>
        <a href="{% url 'buscar_produtos' %}">
            <p class="itens_menu" >Buscar</p>
        </a>
        <a href="{% url 'alterar_produto' %}">
            <p class="itens_menu" >Alterar</p>
        </a>
        <a href="{% url 'deletar_produto' %}">
            <p class="itens_menu" >Deletar</p>
        </a>

    <h2 class="titulo_menu_2">Fornecedores</h2>
        <a href="{% url 'criar_fornecedor' %}">
            <p class="itens_menu" >Adicionar</p>
        </a>
        <a href="{% url 'buscar_fornecedores' %}">
            <p class="itens_menu" >Buscar</p>
        </a>
        <a href="{% url 'alterar_fornecedor' %}">
            <p class="itens_menu" >Alterar</p>
        </a>
        <a href="{% url 'deletar_fornecedor' %}">
            <p class="itens_menu" >Deletar</p>
        </a>

    <h2 class="titulo_menu_2">Categorias</h2>
        <a href="{% url 'criar_fornecedor' %}">
            <p class="itens_menu" >Adicionar</p>
        </a>
        <a href="{% url 'buscar_fornecedores' %}">
            <p class="itens_menu" >Buscar</p>
        </a>
        <a href="{% url 'alterar_fornecedor' %}">
            <p class="itens_menu" >Alterar</p>
        </a>
        <a href="{% url 'deletar_fornecedor' %}">
            <p class="itens_menu" >Deletar</p>
        </a>
</div>